<template>
  <section id="hotels">
    <div class="container">
      <!-- Hotels -->
      <div class="row">
        <div class="col-sm-4" v-for="hotel in hotels" v-bind:key="hotel.id">
          <div class="hotel">
            <carousel :images="hotel.hotel_images"></carousel>
            <router-link :to="{ path: `hotel/${hotel.id}`}">
              <h4 class="hotel-name"> {{ hotel.hotel_name }} </h4>
              <p class="destination"> {{ hotel.destination_name }} </p>
              <p class="includes">Includes {{ hotel.hotel_props.includes.join(',  ') }}</p>
            </router-link>
          </div>
        </div>
      </div>
      <!-- Destinations  -->
      <div class="row">
        <div class="col-sm-2" v-for="destination in destinations" v-bind:key="destination.id">
          <div class="place">
            <img :src="JSON.parse(destination.image).main[0]" :alt="destination.name">
            <h5>{{ destination.name }}</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

  import Carousel from '../components/Carousel.vue'
  import 'bootstrap/dist/css/bootstrap.css';
  import 'bootstrap-vue/dist/bootstrap-vue.css';
  import { mapGetters } from 'vuex';

  export default {
    name: 'HomeView',
    data() {
      return {
        loading: false
      }
    },
    created() {
      this.getAllHotels()
      this.getAllDestinations()
    },
    methods: {
      getAllHotels() {
        this.$store.dispatch({ type: 'getAllHotels' })
      },
      getAllDestinations(){
        this.$store.dispatch({ type: 'getAllDestinations' })
      }

    },
    computed: {
      ...mapGetters({
        hotels: 'allHotels',
        destinations: 'allDestinations'
      })
    },
    components: {
      carousel: Carousel
    }
  }

</script>

<style>

  #hotels {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  a:hover {
    text-decoration: none !important;
  }

  .hotel {
    padding-top: 15px;
  }

  .hotel-name {
    color: #000000;
    font-size: 20px !important;
  }

  .destination {
    margin-bottom: 0.5rem;
    color: #117a8b;
  }

  .includes {
    font-size: 0.7em;
    color: #000;
  }

  .place {
    margin-top: 30px;
    text-align: center;
  }

  .place img {
    max-width: 120px;
    max-height: 60px;
  }

</style>
