<template>
  <section>
    <div class="container">
      <div class="row">
        <!-- Name  -->
        <div class="col-sm-12">
          <h2 class="text-left">{{hotel.hotel_name}}</h2>
          <p class="text-left">{{hotel.destination_name}}</p><hr>
          <p class="text-left">{{hotel.hotel_desc}}</p>
        </div>
        <!-- Rooms  -->
        <div class="col-sm-12">
          <h2 class="text-left">Rooms</h2>
          <hr>
        </div>
        <div class="col-sm-4" v-for="room in rooms" v-bind:key="room.room_id">
          <carousel :images="room.room_image"></carousel>
          <router-link :to="{ path: `${$route.params.id}/room/${room.room_id}`}">
            <h4>{{ room.room_name }}</h4>
            <p class="price">Since ${{ room.low_season_price }} to ${{ room.high_season_price }}</p>
            <p class="includes">Includes {{ room.room_props.includes.join(',  ') }}</p>
          </router-link>
        </div>
        <!-- Contact  -->
        <div class="col-sm-12">
          <p class="text-left text-secondary" v-if="hotel.phones">
            <span class="font-weight-bold">Contact us by phone</span>
          </p>
          <p class="text-left ident">{{ hotel.phones.join(' ') }}</p>
        </div>
        <!-- Social -->
        <div class="col-sm-12">
          <p class="text-left text-secondary" v-if="hotel.networks">
            <span class="font-weight-bold">Follow us</span>
          </p>
          <p class="text-left ident">
            <a v-bind:href="network.link" v-for="network in hotel.networks">
              {{ network.network_name }}
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

  import Carousel from '../components/Carousel.vue'
  import 'bootstrap/dist/css/bootstrap.css';
  import 'bootstrap-vue/dist/bootstrap-vue.css';
  import { mapGetters } from 'vuex';

  export default {
    name: 'HotelView',
    data() {
      return {
        loading: false
      }
    },
    created() {
      this.getAllRoomHotel(this.$route.params.id)
      this.getHotel(this.$route.params.id)
    },
    methods: {

      getAllRoomHotel(hotelId) {

        this.$store.dispatch({
          type: 'getAllRooms',
          hotelId
        });

      }, getHotel(hotelId) {

        this.$store.dispatch({
          type: 'getHotel',
          hotelId
        });

      }

    },
    computed: {
      ...mapGetters({
        rooms: 'allRoomsHotel',
        hotel: 'hotel'
      })
    },
    components: {
      carousel: Carousel
    }
  }

</script>

<style scoped>
  a:hover {
    text-decoration: none;
  }

  .ident {
    margin-left:1em;
  }

  .include {
    font-size: 0.9em;
  }

  .price {
    margin-bottom:0.5rem;
  }
</style>
