<template>
  <div>
    <div v-for="photo in photos" v-bind:key="photo.id">
        <h3>{{photo.title}}</h3>
        <img v-bind:src="photo.thumbnailUrl" alt="">
    </div>
  </div>
</template>

<script>

    import { mapGetters } from 'vuex';

    export default {
        name: 'PhotosView',
        data() {
            return {
                loading: false
            }
        },
        created() {
            this.getAllPhotos()
        },
        methods: {
            getAllPhotos() {
                this.$store.dispatch({ type: 'getAllPhotos' });
            }
        },
        computed: {
            ...mapGetters({
                photos: 'allPhotos'
            })
        }
    }
</script>

<style>
h3 {
    color: lightcoral;
}
</style>
