<template>
  <div>
    <div v-for="post in posts" v-bind:key="post.id">
      <h3>{{post.title}}</h3>
      <p>{{post.body}}</p>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';

  export default {
    name: 'PostsView',
    data() {
      return {
        loading: false
      }
    },
    created() {
      this.getAllPosts()
    },
    methods: {
      getAllPosts() {
        this.$store.dispatch({ type: 'getAllPosts' });
      }
    },
    computed: {
      ...mapGetters({
        posts: 'allPosts'
      })
    }
  }
</script>

<style>
h3 {
  color: lightcoral;
}
</style>
