<template>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-5" v-if="room">
          <carousel v-if="room.room_image" :images="room.room_image"></carousel>
        </div>
        <div class="col-sm-5" v-if="room">
          <h4> {{ room.room_name }} </h4>
          <p class="text-left"> {{ room.room_description }}</p>
          <p class="text-left" v-if="room.room_props">
            Includes {{ room.room_props.includes.join(',  ') }}
          </p>
          <p class="text-left">
            Low season : ${{ room.low_season_price }} <br>
            High season : ${{ room.high_season_price }}
          </p>
          <p class="text-left" v-if="room.entry && room.departure">
            Entry : {{room.entry}} <br>
            Departure : {{room.departure}}
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

  import Carousel from '../components/Carousel.vue'
  import 'bootstrap/dist/css/bootstrap.css';
  import 'bootstrap-vue/dist/bootstrap-vue.css';
  import { mapGetters } from 'vuex';

  export default {
    name: 'RoomView',
    data() {
      return {
        loading: false
      }
    },
    created() {
      this.getRoomHotel(this.$route.params.hotelId, this.$route.params.roomId)
    },
    methods: {

      getRoomHotel(hotelId, roomId) {

        this.$store.dispatch({
          type: 'getRoom',
          hotelId,
          roomId
        });

      }

    },
    computed: {
      ...mapGetters({
        room: 'roomHotel'
      })
    },
    components: {
      carousel: Carousel
    }
  }

</script>

<style scoped>
  a:hover {
    text-decoration: none;
  }

  .include {
    font-size: 0.9em;
  }

  .price {
    font-size: 0.89em;
    margin-bottom:0.5rem;
  }
</style>
