<template>
  <div>
      <h1>Available Users ({{ this.$store.getters.unregisteredUsers.length }})</h1>
      <ul>
        <li v-for="user in users" v-bind:key="user.id">{{ user.name }}</li>
      </ul>
  </div>
</template>

<script>
export default {
  name: 'UsersView',

  computed: {
    users() {
      return this.$store.getters.unregisteredUsers;
    }
  }
}
</script>

<style>

h1 {
    color: lightskyblue;
    font-size: 30px;
}

li {
  list-style: none;
  font-size: 16px;
  font-weight: bold;
}

</style>
