<template>
  <div class="carousel-space">
    <b-carousel id="carousel"
                style="text-shadow: 1px 1px 2px #333;"
                controls
                indicators
                background="#ababab"
                :interval="0"
                img-width="400"
                img-height="500"
                v-model="slide"
                @sliding-start="onSlideStart"
                @sliding-end="onSlideEnd">

      <b-carousel-slide v-for="i in images.main.length" :img-src="images.main[i -1]">
      </b-carousel-slide>
    </b-carousel>
  </div>
</template>

<script>

  import 'bootstrap/dist/css/bootstrap.css';
  import 'bootstrap-vue/dist/bootstrap-vue.css';

  export default {
    props: ['images'],
    data() {
      return {
        slide: 0,
        sliding: null
      }
    },
    created() {
      // if(this.images.main.length === 0) {}
    },
    methods: {
      onSlideStart (slide) {
        this.sliding = true
      },
      onSlideEnd (slide) {
        this.sliding = false
      }
    }
  }

</script>

<style scoped>
  .carousel-space{
    padding-bottom: 1em;
  }
</style>
