<template>
  <div id="app">
    <!-- header -->
    <header>
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <router-link class="navbar-brand" to="/">Hotellium</router-link>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <router-link class="nav-link" to="/">Home</router-link>
              </li>
              <li class="nav-item">
                <router-link class="nav-link" to="/">Destinations</router-link>
              </li>
              <li class="nav-item">
                <router-link class="nav-link" to="/">Galleries</router-link>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- Content -->
    <router-view></router-view>
    <!-- Footer  -->
    <footer>
      <p>Copyright 2019</p>
    </footer>
  </div>
</template>

<script>
    export default {}
</script>

<style>

* {
    padding: 0;
    margin: 0;
}

#app {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8F9FA;
}

.navbar-brand {
  font-family: 'Bad Script', cursive;
  font-size: 26px !important;
  font-weight: bold;
}

section {
  padding-top: 30px;
  padding-bottom: 20px;
}

footer {
  padding: 25px;
  text-align: center;
  background-color: #D0D0D0
}

</style>
